.hero-section{
    background-image: url('../assets/images/architect.jpg');
    height: 80vh;
    object-fit: fill;
    object-position:center;
    }
    
    .br-text{
        font-weight: bold;
        color: white;
        background-color: rgba(0, 0, 0, 0.75);
        padding: 10px;
    }
    